
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.BeginForm("ExportToExcelQuery", "Analitic", FormMethod.Post){ 
<input type="submit" value="Export to Excel" class="button" />
}

